.btns{
  margin: 50px auto;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
button{
  cursor: pointer;
}
.hr{
  background: black;
  color: black;
  border: none;
  height: 3px;
  width: 550px;
}
.btn{
  background-color: rgb(213, 213, 213);
  border: 1px solid black;
  width: 100px;
  height: 100px;
  /* padding: 50px; */
  border-radius: 200px;
  font-size: 30px;
}

.selected{
  border-color:lightskyblue;
  color: lightskyblue;
  background-color: white;
}

.selected-lines{
  transition: 0.5s;
  background-color: lightskyblue;
}

.selected-text{
  color: lightskyblue;
}


.btns>div{
  text-align: center;
  height: 100px;
}